{% load static from static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Conference Management System</title>
 
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css'%}">

  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css'%}">
 
  <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css'%}">
  
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css'%}">

  <link rel="stylesheet" href="{% static 'tables.css'%}">

  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<div>

  <!-- Content Wrapper. Contains page content -->
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding main">
            <!-- Content Header (Page header) -->
            <section  class="content-header">
              <h4>
                Reminder:
              </h4>
            </section>

            <div  class="pad margin no-print">
              <div class="callout callout-info"  style="margin-bottom: 0!important;padding-lefts: 50px">
                <h3><i class="fa fa-exclamation-triangle"></i>  &nbsp; {{ info }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->

<!-- edu-model提示框模板 -->
<div id="edu-alert" class="modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h5>
      </div>
      <div class="modal-body small">
        <p>[Message]</p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
        <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
      </div>
    </div>
  </div>
</div>
<!-- edu-model-end -->

<!-- REQUIRED JS SCRIPTS -->
  
<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js'%}"></script>

<script src="{% static 'dist/js/edu-modal-alert-confirm.js'%}"></script>


{% block loadjavascript %}
{% endblock %}
</body>
</html>