{% extends 'attendees/base.html' %}
{% load static from static %}

{% block main_body %}

    <section class="content container-fluid">

      <div class="row navbar-static-right">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding main">
              <section class="content-header">
                <h1>
                  Conference Registration
                  <small>Conference Management System</small>
                </h1>
              </section>
              <div class="box-header">
                <h3 class="box-title">Events Details</h3>
      
                <div class="box-tools">
                  <form action="{% url 'attendees_events_viewevents' 1 %}" method="get">
                      <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                          {% for vo in datelist %}
                          <button type="submit" name="keyword" value="{{vo}}" class="btn btn-default" style="width:100px;">{{vo}}</button>
                          {% endfor %}

                          <a type="button" href="{% url 'attendees_conference_viewconference' 1 %}" class="btn btn-default ion-home" style="float:right;margin-right:0px;"></a>
                          <button type="submit" class="btn btn-default ion-arrow-return-left" style="float:right;margin-right:0px;"></button>
                          {% for vo in roomlist %}
                          <button type="submit" name="keyword" value="{{vo}}" class="btn btn-default" style="float:right;margin-right:0px;">{{vo}}</button>
                          {% endfor %}
                        </div>
                        

                      </div>
                  </form>
                </div>
                
              </div>
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Conference</th>
                  <th>Room</th>
                  <th>Speaker</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                </tr>
                {% for vo in eventslist %}
                <tr>
                  <td>{{ vo.id }}</td>
                  <td>{{ vo.name }}</td>
                  <td>{{ vo.conferencename }}</td>
                  <td>{{ vo.room }}</td>
                  <td>{{ vo.speaker }}</td>
                  <td>{{ vo.start_time }}</td>
                  <td>{{ vo.end_time }}</td>
                </tr>
                {% endfor %}
              </table>
              <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="{% url 'attendees_events_viewevents' pIndex|add:-1 %}?{{mywhere|join:'&'}}">&laquo;</a></li>
                  {% for p in pagelist %}
                  <li {% if p == pIndex %}class="active"{% endif %}><a href="{% url 'attendees_events_viewevents' p %}?{{mywhere|join:'&'}}">{{p}}</a></li>
                  {% endfor %}
                  <li><a href="{% url 'attendees_events_viewevents' pIndex|add:1 %}?{{mywhere|join:'&'}}">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    
    </section>
    <!-- /.content -->
    {% endblock %}